.header {
  align-items: center;
  padding: 0 16px;

  .title {
    font-size: 20px;

  }
  .nav-links a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
  }

}
 mat-divider {
  border-top: 2px solid #cccccc;
}
