.sidenav-container {
  height: 100vh;
  background-color: white;
}

.sidenav {
  width: 240px;
  background-color: darkgray;
}

.main-content {
  padding: 16px;
  height: calc(100vh - 64px);
  overflow: auto;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
